name: mic_info
description: Mic Info Plugin is a Flutter plugin that retrieves information about connected microphones on Android and iOS. It supports detecting built-in, wired (including USB connector microphones), and Bluetooth microphones, making it ideal for applications requiring audio input management. With cross-platform support, this plugin provides a simple API to retrieve microphone product names and IDs.
version: 0.0.3
homepage: https://github.com/devakar-dhiman/mic_info.git

environment:
  sdk: ^3.4.0
  flutter: '>=3.22.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.dhiman.mic_info
        pluginClass: MicInfoPlugin
      ios:
        pluginClass: MicInfoPlugin